{% extends '::master_front.html.twig' %}

{% block body %}

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="travelo-google-map block"></div>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="travelo-box contact-us-box">
                            <h4>Contact us</h4>
                            <ul class="contact-address">
                                <li class="address">
                                    <i class="soap-icon-address circle"></i>
                                    <h5 class="title">Addresse</h5>
                                    <p>Tunisie</p>
                                    <p>Esprit,  Ghazela Ariana</p>
                                </li>
                                <li class="phone">
                                    <i class="soap-icon-phone circle"></i>
                                    <h5 class="title">Phone</h5>
                                    <p>Fixe: 71 883 652</p>
                                    <p>Mobile: 54 583 950</p>
                                </li>
                                <li class="email">
                                    <i class="soap-icon-message circle"></i>
                                    <h5 class="title">Email</h5>
                                    <p>Host&Guest@gmail.com</p>
                                    <p>www.Host&Guest.com</p>
                                </li>
                            </ul>
                            <ul class="social-icons full-width">
                                <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="GooglePlus"><i class="soap-icon-googleplus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="Vimeo"><i class="soap-icon-vimeo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <div class="travelo-box">
                     {% if is_granted("ROLE_CLIENT") == true %}
                            <form class="contact-form" action="{{ path('ContactUs') }}" method="post">
                                <h4 class="box-title">Envoyer Un Message</h4>
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <label>Nom</label>
                                        <input type="text" name="nom" class="input-text full-width" value="{{ app.user.nom }}">
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Email</label>
                                        <input type="text" name="email" class="input-text full-width" value="{{ app.user.email }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Votre Message</label>
                                    <textarea name="message" rows="6" class="input-text full-width" placeholder="Ecrire votre message ici"></textarea>
                                </div>
                                <button type="submit" class="btn-large full-width">ENVOYER LE MESSAGE</button>
                            </form>
                     {% elseif is_granted("ROLE_ADMIN") == true %}
                         <form class="contact-form" action="{{ path('ContactUs') }}" method="post">
                             <h3 style="color: #bd0000">Impossible d'envoyer un message en tant qu'admin</h3>
                             <div class="row form-group">
                                 <div class="col-xs-6">
                                     <label>Nom</label>
                                     <input type="text" name="nom" class="input-text full-width" disabled>
                                 </div>
                                 <div class="col-xs-6">
                                     <label>Email</label>
                                     <input type="text" name="email" class="input-text full-width" disabled>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label>Votre Message</label>
                                 <textarea name="message" rows="6" class="input-text full-width" placeholder="Ecrire votre message ici" disabled></textarea>
                             </div>
                             <button type="submit" class="btn-large full-width" disabled>ENVOYER LE MESSAGE</button>
                         </form>
                     {% else %}
                         <form class="contact-form" action="{{ path('ContactUs') }}" method="post">
                             <h4 class="box-title">Envoyer Un Message</h4>
                             <div class="row form-group">
                                 <div class="col-xs-6">
                                     <label>Nom</label>
                                     <input type="text" name="nom" class="input-text full-width">
                                 </div>
                                 <div class="col-xs-6">
                                     <label>Email</label>
                                     <input type="text" name="email" class="input-text full-width">
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label>Votre Message</label>
                                 <textarea name="message" rows="6" class="input-text full-width" placeholder="Ecrire votre message ici"></textarea>
                             </div>
                             <button type="submit" class="btn-large full-width">ENVOYER LE MESSAGE</button>
                         </form>
                     {% endif %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script type="text/javascript">
        tjq(".travelo-google-map").gmap3({
            map: {
                options: {
                    center: [36.898392, 10.189732],
                    zoom: 12
                }
            },
            marker:{
                values: [
                    {latLng:[36.898392, 10.189732], data:"Host&Guest"}

                ],
                options: {
                    draggable: false
                },
            }
        });
    </script>

{% endblock %}