{% extends '::master_front.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
   <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="hotel-main-content">
                        <h1>{{ annonce.titreAnnonce }}</h1>
                        <h3>{{ annonce.adresseLogement }}</h3>
                        <ul class="tabs">
                            <li class="active"><a data-toggle="tab" href="#photos-tab">photos</a></li>
                            <li><a data-toggle="tab" href="#map-tab">map</a></li>
                            <li><a data-toggle="tab" href="#steet-view-tab">street view</a></li>
                            <li><a data-toggle="tab" href="#calendar-tab">calendrier</a></li>

                        </ul>
                        <div class="tab-content">
                            <div id="photos-tab" class="tab-pane fade in active">
                                <div class="photo-gallery style1" data-animation="slide"  data-sync="#photos-tab .image-carousel">
                                    <ul class="slides">
                                        {% for picture in annonce.pictures %}
                                            {% if is_granted('ROLE_CLIENT') %}
                                        <li>
                                        <img width="900" height="500" src="{{ asset('uploads/' ~ picture.path) }}" />
                                            <a class="btn btn-danger btn-circle btn-xs delete-btn"  title="delete" href data-toggle="modal" data-target="#myModal" id="{{ picture.idImage }}" style="position: absolute; top: 4px; right: 5px;"><i class="fa fa-times"></i></a>
                                            <a class="button btn-small full-width text-center"  href="{{ path('ModifierImage',{'idImage':picture.idImage}) }}" style="position: relative;">MODIFIER IMAGE</a>

                                        </li>
                                                {% else %}
                                                    <li>
                                                        <img width="900" height="500" src="{{ asset('uploads/' ~ picture.path) }}" />
                                                    </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>

                                </div>
                                <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                    <ul class="slides">
                                        {% for picture in annonce.pictures %}
                                            <li>
                                                <img width="70" height="70" src="{{ asset('uploads/' ~ picture.path) }}"/>
                                             </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div id="map-tab" class="tab-pane fade">

                            </div>
                            <div id="steet-view-tab" class="tab-pane fade" style="height: 500px;">

                            </div>
                            <div id="calendar-tab" class="tab-pane fade">
                                <label>SELECT MONTH</label>
                                <div class="col-sm-6 col-md-4 no-float no-padding">
                                    <div class="selector">
                                        <select class="full-width" id="select-month">
                                            <option value="2014-6">June 2014</option>
                                            <option value="2014-7">July 2014</option>
                                            <option value="2014-8">August 2014</option>
                                            <option value="2014-9">September 2014</option>
                                            <option value="2014-10">October 2014</option>
                                            <option value="2014-11">November 2014</option>
                                            <option value="2014-12">December 2014</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="calendar"></div>
                                        <div class="calendar-legend">
                                            <label class="available">available</label>
                                            <label class="unavailable">unavailable</label>
                                            <label class="past">past</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="description">
                                            The calendar is updated every five minutes and is only an approximation of availability.
                                            <br /><br />
                                            Some hosts set custom pricing for certain days on their calendar, like weekends or holidays. The rates listed are per day and do not include any cleaning fee or rates for extra people the host may have for this listing. Please refer to the listing's Description tab for more details.
                                            <br /><br />
                                            We suggest that you contact the host to confirm availability and rates before submitting a reservation request.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="hotel-features" class="tab-container">
                        <ul class="tabs">
                            <li class="active"><a href="#hotel-description" data-toggle="tab">Description</a></li>
                            <li><a href="#hotel-availability" data-toggle="tab">Disponibilité</a></li>
                            <li><a href="#hotel-amenities" data-toggle="tab">Equipements</a></li>
                            <li><a href="#hotel-reviews" data-toggle="tab">Avis</a></li>
                            <li><a href="#hotel-faqs" data-toggle="tab">FAQs</a></li>
                            <li><a href="#hotel-things-todo" data-toggle="tab">Things to Do</a></li>
                            <li><a href="#hotel-write-review" data-toggle="tab">Donner un avis</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="hotel-description">
                                <div class="intro table-wrapper full-width hidden-table-sms">
                                    <div class="col-sm-5 col-lg-4 features table-cell">
                                        <ul>
                                            <li><label>type logement:</label>{{ annonce.typeLogement }}</li>
                                            <li><label>Minimum Stay:</label>2 nights</li>
                                            <li><label>Pays:</label>{{ annonce.paysLogement }}</li>
                                            <li><label>Region</label>{{ annonce.region }}</li>
                                            <li><label>Cancellation:</label>strict</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 col-lg-8 table-cell testimonials">
                                        <div class="testimonial style1">
                                            <ul class="slides ">
                                                <li>
                                                    <p class="description"> {{ annonce.idMembre.description }}</p>
                                                    <div class="author clearfix">
                                                        <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                                        <h5 class="name">{{ annonce.idMembre.nom }}<small>Hote</small></h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="long-description">
                                    <h2>{{ annonce.titreAnnonce }}</h2>
                                    <p>
                                        {{ annonce.descriptionLogement }}
                                    </p>
                                    <h2>Réglement</h2>
                                    <p>
                                        {{ annonce.reglementLogement }}
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="hotel-availability">
                                <div class="update-search clearfix">
                                    <div class="col-md-5">
                                        <h4 class="title">When</h4>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>CHECK IN</label>
                                                <div class="datepicker-wrap">
                                                    <input type="text" placeholder="mm/dd/yy" class="input-text full-width" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>CHECK OUT</label>
                                                <div class="datepicker-wrap">
                                                    <input type="text" placeholder="mm/dd/yy" class="input-text full-width" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <h4 class="title">Who</h4>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <label>ROOMS</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>ADULTS</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>KIDS</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <h4 class="visible-md visible-lg">&nbsp;</h4>
                                        <label class="visible-md visible-lg">&nbsp;</label>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button data-animation-duration="1" data-animation-type="bounce" class="full-width icon-check animated" type="submit">SEARCH NOW</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2>Available Rooms</h2>
                                <div class="room-list listing-style3 hotel">
                                    <article class="box">
                                        <figure class="col-sm-4 col-md-3">
                                            <a class="hover-effect popup-gallery" href="{{ asset('template_front/ajax/slideshow-popup.html') }}" title=""><img width="230" height="160" src="http://placehold.it/230x160" alt=""></a>
                                        </figure>
                                        <div class="details col-xs-12 col-sm-8 col-md-9">
                                            <div>
                                                <div>
                                                    <div class="box-title">
                                                        <h4 class="title">Standard Family Room</h4>
                                                        <dl class="description">
                                                            <dt>Max Guests:</dt>
                                                            <dd>3 persons</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="amenities">
                                                        <i class="soap-icon-wifi circle"></i>
                                                        <i class="soap-icon-fitnessfacility circle"></i>
                                                        <i class="soap-icon-fork circle"></i>
                                                        <i class="soap-icon-television circle"></i>
                                                    </div>
                                                </div>
                                                <div class="price-section">
                                                    <span class="price"><small>PER/NIGHT</small>$121</span>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                                <div class="action-section">
                                                    <a href="hotel-booking.html" title="" class="button btn-small full-width text-center">BOOK NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure class="col-sm-4 col-md-3">
                                            <a class="hover-effect popup-gallery" href="{{ asset('template_front/ajax/slideshow-popup.html') }}" title=""><img width="230" height="160" src="http://placehold.it/230x160" alt=""></a>
                                        </figure>
                                        <div class="details col-xs-12 col-sm-8 col-md-9">
                                            <div>
                                                <div>
                                                    <div class="box-title">
                                                        <h4 class="title">Superior Double Room</h4>
                                                        <dl class="description">
                                                            <dt>Max Guests:</dt>
                                                            <dd>5 persons</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="amenities">
                                                        <i class="soap-icon-wifi circle"></i>
                                                        <i class="soap-icon-fitnessfacility circle"></i>
                                                        <i class="soap-icon-fork circle"></i>
                                                        <i class="soap-icon-television circle"></i>
                                                    </div>
                                                </div>
                                                <div class="price-section">
                                                    <span class="price"><small>PER/NIGHT</small>$241</span>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                                <div class="action-section">
                                                    <a href="hotel-booking.html" title="" class="button btn-small full-width text-center">BOOK NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure class="col-sm-4 col-md-3">
                                            <a class="hover-effect popup-gallery" href="{{ asset('template_front/ajax/slideshow-popup.html') }}" title=""><img width="230" height="160" src="http://placehold.it/230x160" alt=""></a>
                                        </figure>
                                        <div class="details col-xs-12 col-sm-8 col-md-9">
                                            <div>
                                                <div>
                                                    <div class="box-title">
                                                        <h4 class="title">Deluxe Single Room</h4>
                                                        <dl class="description">
                                                            <dt>Max Guests:</dt>
                                                            <dd>4 persons</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="amenities">
                                                        <i class="soap-icon-wifi circle"></i>
                                                        <i class="soap-icon-fitnessfacility circle"></i>
                                                        <i class="soap-icon-fork circle"></i>
                                                        <i class="soap-icon-television circle"></i>
                                                    </div>
                                                </div>
                                                <div class="price-section">
                                                    <span class="price"><small>PER/NIGHT</small>$137</span>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                                <div class="action-section">
                                                    <a href="hotel-booking.html" title="" class="button btn-small full-width text-center">BOOK NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure class="col-sm-4 col-md-3">
                                            <a class="hover-effect popup-gallery" href="{{ asset('template_front/ajax/slideshow-popup.html') }}" title=""><img width="230" height="160" src="http://placehold.it/230x160" alt=""></a>
                                        </figure>
                                        <div class="details col-xs-12 col-sm-8 col-md-9">
                                            <div>
                                                <div>
                                                    <div class="box-title">
                                                        <h4 class="title">Single Bed Room</h4>
                                                        <dl class="description">
                                                            <dt>Max Guests:</dt>
                                                            <dd>2 persons</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="amenities">
                                                        <i class="soap-icon-wifi circle"></i>
                                                        <i class="soap-icon-fitnessfacility circle"></i>
                                                        <i class="soap-icon-fork circle"></i>
                                                        <i class="soap-icon-television circle"></i>
                                                    </div>
                                                </div>
                                                <div class="price-section">
                                                    <span class="price"><small>PER/NIGHT</small>$55</span>
                                                </div>
                                            </div>
                                            <div>
                                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                                <div class="action-section">
                                                    <a href="hotel-booking.html" title="" class="button btn-small full-width text-center">BOOK NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <a href="#" class="load-more button full-width btn-large fourty-space">LOAD MORE ROOMS</a>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="hotel-amenities">

                                <h2>Equipements disponibles</h2>

                                <ul class="amenities clearfix style2">
                                    {% if equipement1  in annonce.equipements %}
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-elevator circle"></i>Ascenseur</div>
                                        </li>
                                        {% else %}
                                            <li class="col-md-4 col-sm-6">
                                                <div class="icon-box style2"><i class="soap-icon-elevator circle"></i><s>Ascenseur</s></div>
                                            </li>
                                            {% endif %}
                                    {% if equipement3  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-wifi circle"></i>WI_FI</div>
                                    </li>
                                        {% else %}
                                            <li class="col-md-4 col-sm-6">
                                                <div class="icon-box style2"><i class="soap-icon-wifi circle"></i><s>WI_FI</s></div>
                                            </li>
                                    {% endif %}
                                    {% if equipement4  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-television circle"></i>Television</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-television circle"></i><s>Television</s></div>
                                    </li>
                                    {% endif %}
                                    {% if equipement10  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-aircon circle"></i>Climatisation</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-aircon circle"></i><s>Climatisation</s></div>
                                    </li>
                                    {% endif %}

                                    {% if equipement5  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-entertainment circle"></i>Seche Linge</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-entertainment circle"></i><s>Seche Linge</s></div>
                                    </li>
                                    {% endif %}
                                    {% if equipement6  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-securevault circle"></i>Interphone</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-securevault circle"></i><s>Interphone</s></div>
                                    </li>
                                    {% endif %}
                                    {% if equipement7  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-pickanddrop circle"></i>Seche Cheveux</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-pickanddrop circle"></i><s>Seche Cheveux</s></div>
                                    </li>
                                    {% endif %}
                                    {% if equipement11  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-pets circle"></i>Animaux autorisés</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-pets circle"></i><s>Animaux autorisés</s></div>
                                    </li>
                                    {% endif %}
                                    {% if equipement8  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-playplace circle"></i>Machine a laver</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-playplace circle"></i><s>Machine a laver</s></div>
                                    </li>
                                    {% endif %}

                                    {% if equipement9  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-parking circle"></i>Chauffage</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-parking circle"></i><s>Chauffage</s></div>
                                    </li>
                                    {% endif %}
                                    {% if equipement2  in annonce.equipements %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-doorman circle"></i>Gardien</div>
                                    </li>
                                    {% else %}
                                    <li class="col-md-4 col-sm-6">
                                        <div class="icon-box style2"><i class="soap-icon-doorman circle"></i><s>Gardien</s></div>
                                    </li>
                                    {% endif %}

                                </ul>

                            </div>
                            <div class="tab-pane fade" id="hotel-reviews">
                                <div class="intro table-wrapper full-width hidden-table-sms">
                                    <div class="rating table-cell col-lg-3">
              <span class="score">

{% for AvisTotal in AvisTotal  %}{{ AvisTotal | round(1, 'floor')}} /5.0 </span>
                                        {{ AvisTotal|rating }}{% endfor %}

                                        {% for reservation in reservation %}
                                            {% if app.user == reservation.idMembre   %}
                                                <a class="button btn-small" href="{{ path('Affiche_Details_Annonce',{'idLogement':logement.idLogement}) }}">Donner avis</a>
                                            {% else %}
                                                <a class="button btn-small"  href="{{ path('Affiche_Details_Annonce',{'idLogement':logement.idLogement}) }}" disabled >Donner avis</a>
                                                <p>  vous n'avez pas de reservations</p>
                                            {% endif %}
                                        {% endfor %}

                                    </div>

                                    <div class="table-cell col-sm-8">
                                        <div class="detailed-rating">
                                            <ul class="clearfix">
                                                <li class="col-lg-6"><div class="each-rating"><label>Acceuil</label><div>
                                                            {% for AvisAcceuil in AvisAcceuil  %}
                                                                {{ AvisAcceuil|rating}}
                                                            {% endfor %}
                                                        </div></div></li>

                                                <li class="col-lg-6"><div class="each-rating"><label>Qualite Prix</label>
                                                        {% for AvisqualitePrix in AvisqualitePrix  %}
                                                        {{ AvisqualitePrix|rating}}
                                                    {% endfor %}</li>
                                                <li class="col-lg-6"><div class="each-rating"><label>Proprete</label>
                                                        {% for Avisproprete in Avisproprete %}
                                                            {{ Avisproprete|rating}}
                                                        {% endfor %}
                                                    </div></li>
                                                <li class="col-lg-6"><div class="each-rating"><label>Note Generale</label>
                                                        {% for Avisnote in Avisnote %}
                                                            {{ Avisnote|rating}}
                                                        {% endfor %}
                                                    </div></li>

                                              </ul>
                                        </div>
                                    </div>
                                </div>
                                <h2>Guest Reviews</h2>
                                <h4>Number of reviews ({% for AvisReviews in AvisReviews %} {{ AvisReviews }} {% endfor %} ) </h4>
                                <div class="guest-reviews">
                                    {% for avis in Aviss %}
                                        <div class="guest-review table-wrapper">
                                            <div class="col-xs-3 col-md-2 author table-cell">
                                                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263" /></a>
                                                <p class="name">{{ avis.idUser }}</p>
                                            </div>
                                            <div class="col-xs-9 col-md-10 table-cell comment-container">
                                                <div class="comment-header clearfix">
                                                    <h4 class="comment-title">{{ avis.idlogement.titreAnnonce}}</h4>
                                                    <div class="review-score">
                                                        <div><div> {{ avis.noteAvis |rating}}</div></div>
                                                        <span class="score">{{ avis.noteAvis }}/5.0</span>
                                                    </div>

                                                </div>
                                                <div class="comment-content">
                                                    {{ avis.descriptionAvis }}<br>

                                                    <p><a onclick="return confirm('voulez vous vraiment signaler cet Avis ')" , href="{{ path ('Avis_signaler',{id:avis.idAvis,idlogement:avis.idlogement.idLogement}) }} "> signaler</a></p>

                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a href="#" class="button full-width btn-large">LOAD MORE REVIEWS</a>
                            </div>
                            <div class="tab-pane fade" id="hotel-faqs">
                                <h2>Frquently Asked Questions</h2>
                                <div class="topics">
                                    <ul class="check-square clearfix">
                                        <li class="col-sm-6 col-md-4"><a href="#">address &amp; map</a></li>
                                        <li class="col-sm-6 col-md-4"><a href="#">messaging</a></li>
                                        <li class="col-sm-6 col-md-4"><a href="#">refunds</a></li>
                                        <li class="col-sm-6 col-md-4"><a href="#">pricing</a></li>
                                        <li class="col-sm-6 col-md-4 active"><a href="#">reservation requests</a></li>
                                        <li class="col-sm-6 col-md-4"><a href="#">your reservation</a></li>
                                    </ul>
                                </div>
                                <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                <div class="toggle-container">
                                    <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a class="collapsed" href="#question1" data-toggle="collapse">How do I know a reservation is accepted or confirmed?</a>
                                        </h4>
                                        <div class="panel-collapse collapse" id="question1">
                                            <div class="panel-content">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a class="collapsed" href="#question2" data-toggle="collapse">What do I do after I receive a reservation request from a guest?</a>
                                        </h4>
                                        <div class="panel-collapse collapse" id="question2">
                                            <div class="panel-content">
                                                <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a class="" href="#question3" data-toggle="collapse">How much time do I have to respond to a reservation request?</a>
                                        </h4>
                                        <div class="panel-collapse collapse in" id="question3">
                                            <div class="panel-content">
                                                <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a class="collapsed" href="#question4" data-toggle="collapse">Why can’t I call or email hotel or host before booking?</a>
                                        </h4>
                                        <div class="panel-collapse collapse" id="question4">
                                            <div class="panel-content">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a class="collapsed" href="#question5" data-toggle="collapse">Am I allowed to decline reservation requests?</a>
                                        </h4>
                                        <div class="panel-collapse collapse" id="question5">
                                            <div class="panel-content">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a class="collapsed" href="#question6" data-toggle="collapse">What happens if I let a reservation request expire?</a>
                                        </h4>
                                        <div class="panel-collapse collapse" id="question6">
                                            <div class="panel-content">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a class="collapsed" href="#question7" data-toggle="collapse">How do I set reservation requirements?</a>
                                        </h4>
                                        <div class="panel-collapse collapse" id="question7">
                                            <div class="panel-content">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="hotel-things-todo">
                                <h2>Things to Do</h2>
                                <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                <div class="activities image-box style2 innerstyle">
                                    <article class="box">
                                        <figure>
                                            <a title="" href="#"><img width="250" height="161" alt="" src="http://placehold.it/250x160"></a>
                                        </figure>
                                        <div class="details">
                                            <div class="details-header">
                                                <div class="review-score">
                                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                                    <span class="reviews">25 reviews</span>
                                                </div>
                                                <h4 class="box-title">Central Park Walking Tour</h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                                            <a class="button" title="" href="#">MORE</a>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure>
                                            <a title="" href="#"><img width="250" height="161" alt="" src="http://placehold.it/250x160"></a>
                                        </figure>
                                        <div class="details">
                                            <div class="details-header">
                                                <div class="review-score">
                                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                                    <span class="reviews">25 reviews</span>
                                                </div>
                                                <h4 class="box-title">Museum of Modern Art</h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                                            <a class="button" title="" href="#">MORE</a>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure>
                                            <a title="" href="#"><img width="250" height="161" alt="" src="http://placehold.it/250x160"></a>
                                        </figure>
                                        <div class="details">
                                            <div class="details-header">
                                                <div class="review-score">
                                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                                    <span class="reviews">25 reviews</span>
                                                </div>
                                                <h4 class="box-title">Crazy Horse Cabaret Show</h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                                            <a class="button" title="" href="#">MORE</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="hotel-write-review">
                                <div class="main-rating table-wrapper full-width hidden-table-sms intro">
                                    <article class="image-box box hotel listing-style1 photo table-cell col-sm-12">
                                        <figure>
                                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                                        </figure>
                                        <div class="details">
                                            <h4 class="box-title">Hilton Hotel and Resorts<small><i class="soap-icon-departure"></i> Paris, france</small></h4>
                                            <div class="feedback">
                                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                                <span class="review"> ({% for AvisReviews in AvisReviews3 %} {{ AvisReviews }} {% endfor %} ) reviews</span>
                                            </div>
                                        </div>
                                    </article>
                                    {{ form_start (form)}}

                                </div>
                                <form class="review-form">
                                    <h1>Votre expérience est précieuse pour les autres voyageurs. Merci !</h1>
                                    <div class="form-group">
                                        <h4 class="title">Ecrivez votre Avis : </h4>
                                        {{ form_widget(form.descriptionAvis,
                                        {'attr': {'class': 'input-text full-width','rows': '6','placeholder':'Veuillez écrire votre Avis : '}}) }}
                                    </div>

                                    {{ form_end (form)}}


                                </form>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <article class="detailed-logo">

                        <div class="details">

                            <h2 class="box-title">{{ logement.titreAnnonce }}<small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">{{ logement.paysLogement }}</span></small></h2>
                            <span class="price clearfix">
                                    <small class="pull-left">Prix par nuit </small>
                                    <span class="pull-right">{{ logement.prixLogement }} DT</span>
                                </span>

                            <div class="search-tab-content">
                                <div class="tab-pane fade active in" id="hotels-tab">
                                    <form action="{{ path('Ajouter_Reservations') }}" method="post">
                                        <div class="row"  >

                                            <div class="form-group row">
                                                <div class="row" >
                                                    <div class="col-sm-6 col-md-11">
                                                        <label>Arrivée</label>
                                                        <div class="datepicker-wrap dark-blue">
                                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" name="dateDebut" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-11">
                                                        <label>Départ</label>
                                                        <div class="datepicker-wrap dark-blue">
                                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" name="dateFin" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-11">
                                                    <label class="hidden-xs">&nbsp;</label>
                                                    <input name="currency" val="EUR"  hidden>
                                                    <button type="submit" class="button btn-medium dark-blue1">Réserver </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                        <blockquote class="style2">

                            NB:Vous ne serez débité que si vous confirmez
                        </blockquote>
                    </article>
                    <div class="travelo-box contact-box">
                        <h4>Vous avez besoin d'aide?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>71880639</span>
                            <br>
                            <a class="contact-email" href="#">hostguesttn@gmail.com</a>
                        </address>
                    </div>
                    <div class="travelo-box">
                        <h4>Annonces similaires</h4>
                        <div class="image-box style14">

{% for annonces in annonces %}
                            <article class="box">
                                {% for image in annonces.pictures %}
                                    {% if loop.first %}
                                        <figure>
                                            <a href="{{path('Slideshow_popup',{'idLogement':annonce.idLogement}) }}" class="hover-effect popup-gallery"><img alt="" src="{{ asset('uploads/' ~ image.path) }}" width="60" height="60" ></a>
                                        </figure>
                                    {% endif %}
                                {% endfor %}
                                <div class="details">
                                    <h5 class="box-title"><a href="#">{{ annonces.titreAnnonce }}</a></h5>
                                    <label class="price-wrapper">
                                        <span class="price-per-unit">{{ annonces.prixLogement }} DT</span>/nuit
                                    </label>
                                </div>
                            </article>
{% endfor %}

                        </div>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Suppression</h4>
                </div>

                <div class="modal-body">
                    <p>Voulez vous vraiment supprimer cette image ?</p>
                    <p style="color: #ac2925">Cette action est irreversible!</p>
                </div>

                <div class="modal-footer">
                    <a class="button btn-small  text-center" data-dismiss="modal">Annuler</a>
                    <a class="button btn-small red  text-center remove_item"  >Supprimer</a>
                </div>
                <input id="remove" hidden>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $(".delete-btn").click(function(e){
                var entityId = e.target.id;
                $(".delete-btn").addClass('toremove');
                $("#remove").val(entityId);
                console.log('waaaaaaaaaa3');
                console.log(entityId);
            });
            $(".remove_item").click(function () {

                var entityId =   $("#remove").val();
                console.log(entityId);
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: Routing.generate('SupprimerImageAnnonce',{'idImage':entityId}),
                    success: function (resultat) {
                        $(".delete-btn").removeClass('toremove');
                        // jQuery("#div").reload();
                        //window.location.reload();

                        jQuery('#myModal').modal('hide');
                        jQuery("#content").fadeOut(function() {
                            jQuery("#content").empty();
                        });
                        jQuery("#content").fadeIn(function() {
                            jQuery("#content").html(resultat).fadeIn();
                        });

                    }
                });

            });


        });



        tjq('a[href="#map-tab"]').on('shown.bs.tab', function (e) {
            var center = panorama.getPosition();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
        });
        tjq('a[href="#steet-view-tab"]').on('shown.bs.tab', function (e) {
            fenway = panorama.getPosition();
            panoramaOptions.position = fenway;
            panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
            map.setStreetView(panorama);
        });
        var map = null;
        var panorama = null;
        var fenway = new google.maps.LatLng({{ annonce.latlogement }}, {{ annonce.longlogement }});
        var mapOptions = {
            center: fenway,
            zoom: 12
        };
        var panoramaOptions = {
            position: {lat: {{ annonce.latlogement }}, lng: {{ annonce.longlogement }}},
            pov: {
                heading: 34,
                pitch: 10
            }
        };
        function initialize() {
            tjq("#map-tab").height(tjq("#hotel-main-content").width() * 0.6);
            map = new google.maps.Map(document.getElementById('map-tab'), mapOptions);
            panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
            map.setStreetView(panorama);
        }
        google.maps.event.addDomListener(window, 'load', initialize);


    </script>
{% endblock %}