{% extends '::master_back.html.twig' %}
{% block body %}
<h1>Liste des Signalement</h1>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Liste des logement signaler
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>note du Logement</th>
                            <th>Titre du Logement</th>
                            <th>Commentaire</th>
                            <th>Supprimer</th>

                        </tr>
                        </thead>
                        <tbody>
                        {%for Avis in Avis %}

                            <tr >

                                <td>{{ Avis.idAvis}}</td>
                                <td>{{ Avis.noteAvis}}</td>
                                <td>{{ Avis.descriptionAvis}}</td>
                                <td>{{ Avis.idlogement.titreAnnonce}}</td>
                                <td>
                              <button type="button" class="btn btn-danger btn-circle">
                                  <a href="{{ path ('Avis_supprimer',{id:Avis.idAvis}) }}"> <i class="fa fa-times"></i></a></button></td>




                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>


                                 <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <h1>Liste des Avis des Host</h1>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Liste des Host
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID Avis</th>
                            <th>Note Acceuil</th>
                            <th>Note Reactivite</th>
                            <th> Commentaire </th>
                            <th> Le Host</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for Avis in AvisHost %}

                            <tr >
                                <td>{{ Avis.idHost}}</td>
                                <td>{{ Avis.acceuilHost}}</td>
                                <td>{{ Avis.reactiviteHost}}</td>
                                <td>{{ Avis.descriptionAvis}}</td>
                                <td>{{ Avis.idMembre}}</td>
                                <td><button type="button" class="btn btn-danger btn-circle">
                                        <a href="{{ path ('AvisHost_supprimer',{id:Avis.idHost}) }}">
                                            <i class="fa fa-times"></i>
                                        </a> </button></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>





{% endblock %}
