<a  class="button entry-comment btn-small comm_visibility" id="{{ status.id }}"><i class="soap-icon-comment" id="{{ status.id }}"></i>{{ status.comments.count }} Commentaire(s)</a>
<a  class="button btn-small like_btn" id="{{ status.id }}"  ><input class="nb_likes" value="{{ status.likes.count }}" hidden> <i class="soap-icon-wishlist" id="{{ status.id }}"></i><span id="{{ status.id }}">{{ status.likes.count }} Like(s)</span></a>
<span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
