{%  extends '::master_front.html.twig' %}
{% block body %}
<section id="content" class="gray-area">
    <div class="container text-left shortcode">
    <div class="block">
        <div class="row">
            <div class="col-lg-3 pull-right">
                <h1>Une réclamation?</h1>
                <p> Si vous avez une réclamation à nous faire parvenir concernant une annonce,une livraison ... ,n’hésitez surtout pas à nous en faire part.
                    Le Service Relations Clientèle mettra tout en œuvre pour vous apporter une réponse rapide et efficace.
                    Nous vous remercions de nous faire part de vos suggestions, vos appréciations, et vos réclamations.
                     </p>
            </div>
            <div class="col-lg-9 listing-style3 flight">
                {% for reclamation in reclamations %}
                <article class="box">

                    <div class="details col-xs-9 col-sm-10">
                        <div class="details-wrapper">
                            <div class="first-row">
                                <div>
                                    <h4 class="box-title">Reclamation<small>{{ reclamation.idMembre.nom }}  {{ reclamation.idMembre.prenom }}</small></h4>
                                    {% if reclamation.etat!="Cloture" %}
                                    <a class="button btn-mini yellow" href="{{ path('Cloturer_reclamationfront_route',{idReclamation:reclamation.idReclamation}) }}" >Cloturer</a>
                                    {% else %}
                                    <a class="button btn-mini yellow" href="" onclick="return false;">Cloturer</a>
                                    {% endif %}
                                </div>
                                <div class="action">
                                    <a href="{{ path('Supprimer_reclamationfront_route',{idReclamation:reclamation.idReclamation}) }}" class="button btn-medium green" onclick="return(confirm('Etes-vous sur de vouloir supprimer cette ligne?'))">Supprimer</a>
                                </div>
                            </div>
                            <div class="second-row">
                                <div class="time">
                                    <div class="take-off col-sm-4">
                                        <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                        <div>
                                            <span class="skin-color">Date</span><br />{{ reclamation.dateReclamation|date("Y-m-d") }}
                                        </div>
                                    </div>
                                    <div class="landing col-sm-4">
                                        <div class="icon"><i class="soap-icon-key yellow-color"></i></div>
                                        <div>
                                            <span class="skin-color">Sujet</span><br />{{ reclamation.sujetReclamation }}
                                        </div>
                                    </div>
                                    <div class="total-time col-sm-4">
                                        <div class="icon"><i class="soap-icon-insurance yellow-color"></i></div>
                                        <div>
                                            <span class="skin-color">Etat</span><br />{{ reclamation.etat }}
                                        </div>
                                    </div>
                                </div>
                                <div class="action">
                                    <a href="{{ path('Affichermessagefront_route',{idReclamation:reclamation.idReclamation}) }}" class="button btn-medium green">Afficher</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}
